@import "compass/reset";
@import "colors.scss";

* {
    font-family: Futura, Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $color-black;
}

#bg-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#bg {
    display: block;
    margin: {
        left: -20px;
        top: -20px;
    }
    width: 140%;
    height: 140%;
    -webkit-filter: blur(8px);
}

.div-button,
button {
    cursor: pointer;
    border: 0;
    background: none;
    color: $color-white;
    text-shadow: 0.136em 0.1em 0 $color-black;
}

#lists-wrap {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: $color-black-bg;
    ul {
        display: inline-block;
        vertical-align: top;
        height: 100%;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.list-item {
    margin: 20px;
    display: block;
}

.item {
    display: block;
    width: 100%;
    font-size: 1.3em;
    text-align: left;

    white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;

    + .item-effects {
        display: none;
    }

    &.active {
        
        font-size: 1.6em;
        white-space: normal;

        + .item-effects {
            display: block;
        }
    }
}