@import "compass/reset";
@import "colors.scss";

* {
    font-family: Futura, Arial, sans-serif;
    color: $color-white;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $color-black;
    background-size: cover;
}

.div-button,
button {
    cursor: pointer;
    border: 0;
    background: none;
    text-shadow: 0.136em 0.1em 0 $color-black;
}

#lists-wrap {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: $color-black-bg;
    ul {
        display: inline-block;
        vertical-align: top;
        height: 100%;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.list-item {
    padding: 10px 20px;
    display: block;

    &:hover {
        background-color: $color-black-bg;
    }
}

.item {
    display: block;
    width: 100%;
    font-size: 1.3em;
    text-align: left;

    color: $color-light-gray;

    white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;

    + .list-effects {
        display: none;
        -webkit-columns: 2;
        padding: 0.3em;

        .item-effects {
            line-height: 2em;
            display: block;
        }
    }

    &.active {

        font-size: 1.6em;
        white-space: normal;
        color: $color-white;

        + .list-effects {
            display: block;
        }
    }
}