<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Skyrim Alchemy Guide" />
    <meta name="viewport" content="initial-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="dist/main.css" media="screen" />

    <title>Testing github pages by Askoth</title>
</head>

<body>
<header class="hidden">
    <h1>Skyrim Alchemy Potion Guide</h1>
</header>

<main id="app-wrap"><div id="lists-wrap"></div></main>

<script type="text/template" id="tpl-item">
    <li class="list-item" data-ingredient="<%= ingredient.name %>">

        <div role="button" class="div-button item"><%= ingredient.name %></div>
        <ol class="list-effects">
            <% _.each(ingredient.effects, function(effect) { %>
                <li class="item-effects">
                    <label>
                        <input type="checkbox" class="chk-item-effects" data-effect="<%= effect %>" />
                        <%= effect %>
                    </label>
                </li>
            <% }) %>
        </ol>

    </li>
</script>

<script type="text/template" id="tpl-list">
    <h2 class="hidden">Primary Ingredient</h2>
    <ul id="ingredient-list-1" class="list">
    </ul>
    <h2 class="hidden">Secondary Ingredient</h2>
    <ul id="ingredient-list-2" class="list list-result">
    </ul>
    <h2 class="hidden">Terciary Ingredient</h2>
    <ul id="ingredient-list-3" class="list list-result">
    </ul>
</script>

<script type="text/template" id="tpl-potion">
    <div id="result-potion">
        <div class="table">
            <div class="table-cell">
                <h2>Result Potion effects</h2>
                <h3>Ingredients</h3>
                <ul id="selected-ingredients" class="result-list">
                    <li class="result-list-item none">None</li>
                </ul>

                <h3>Desired Results</h3>
                <ul id="results-desired" class="result-list">
                    <li class="result-list-item none">None</li>
                </ul>

                <h3>Collateral Results</h3>
                <ul id="results-collateral" class="result-list">
                    <li class="result-list-item none">None</li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-potion-item">

    <% if (result.length < 1) {
        result.push('None')
    } %>

    <% _.each(result, function (item) { %>
        <li class="result-list-item <% if (item == 'None') {%>none<% } %>"><%= item %></li>
    <% }) %>
</script>

<!--div id="settings-about">

    <section id="downloads">
        <a href="https://github.com/Askoth/askoth/zipball/master" class="btn">Download as .zip</a>
        <a href="https://github.com/Askoth/askoth/tarball/master" class="btn">Download as .tar.gz</a>
        <a href="https://github.com/Askoth/askoth" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    </section>
</div-->

<script src="javascripts/libs/modernizr.js"></script>
<script src="javascripts/libs/jquery.js"></script>
<script src="javascripts/libs/lodash.min.js"></script>
<script src="javascripts/libs/backbone.js"></script>
<script src="javascripts/libs/canvas-transform.js"></script>
<script src="javascripts/canvas-bg.js"></script>
<script src="javascripts/models/ingredient.js"></script>
<script src="javascripts/collections/effects.js"></script>
<script src="javascripts/collections/ingredients.js"></script>
<script src="javascripts/views/item.js"></script>
<script src="javascripts/views/results.js"></script>
<script src="javascripts/views/main.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>