html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    color: #CCC;
    text-shadow: 1px 1px 3px #000;
    text-transform: uppercase;
    font-family: Futura, Arial;

}

h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3)
}

#container {
    width: 100%;
    height: 100%;
    background: yellow;
    font-size: 0;
    position: relative;
}

nav,
main {
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

nav ul,
main section {
    font-size: 14px;
}

nav {
    width: 100%;
    height: 10%;
    background: blue;
}

nav li {
    display: inline-block;
}

a {
    color: #CCC;
    text-decoration: none;
}

label:focus,
a:focus,
label:hover,
a:hover {
    outline: 0;
    cursor: pointer;
    color: #FFF;
    font-size: 1.2em;
}

main {
    height: 90%;
}

section {
    display: inline-block;
    height: 90%;
}

#controls {
    width: 30%;
    background: cyan;
}
#item-list {
    width: 70%;
    background: magenta;
}

#preferences {
    width: 30%;
    height: 100%;
    background: #BADA55;

    position: absolute;
    right: 0;
    top: 0;

    z-index: 0;

    font-size: 15px;
}

#search {
    height: 10%;
    background: gold;
    display: block;
}


/* preferences behavior */
.show-preferences nav,
.show-preferences main {
    -webkit-transform: translate(-30%, 0);
}